        body {
            margin: 0;
            padding: 0;
        }

        html,
        body,
        #map {
            height: 100%;
        }

        #marker {
            background-image: url('https://maplibre.org/maplibre-gl-js/docs/assets/washington-monument.jpg');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }

        .maplibregl-popup {
            max-width: 200px;
        }